# Node
node_modules/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Allure Reports
allure-report/**
allure-results/**

# AI Agent
gopi-ai-agent/output.txt

# Environment
.env

# Binaries
jenkins.war
